<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ProfileList">

<div th:block th:if="${search == null}">
<div class="profile">
    <div class="div-main-center" th:if="${member.size == 0}">
        <div><img src="/mainImg/sad.png" class="div-img">
            <p class="span-side2 null-p">검색 결과가 없습니다</p></div>
    </div>
    <div th:each="member : ${member}">
        <div class="div-main-center" style="margin-top: 10px;">
            <div><img th:src="'/profile_img/'+${member.user_img_file}" class="div-img">
                <sapn class="span-side2" th:onclick="passLoc([[${member.user_name}]])">[[${member.user_name}]]</sapn></div>
        </div>
    </div>
 </div>

</div>
<div th:block th:if="${search != null}">
    <div class="profile" th:style="${'display:none'}">
        <div class="div-main-center" th:if="${member.size == 0}">
            <div><img src="/mainImg/sad.png" class="div-img">
                <p class="span-side2 null-p">검색 결과가 없습니다</p></div>
        </div>
        <div th:each="member : ${member}">
            <div class="div-main-center" style="margin-top: 10px;">
                <div><img th:src="'/profile_img/'+${member.user_img_file}" class="div-img">
                    <sapn class="span-side2" th:onclick="passLoc([[${member.user_name}]])">[[${member.user_name}]]</sapn></div>
            </div>
        </div>
    </div>
</div>