<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring Boot Application with JSP</title>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <link href="/css/join.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member.js" ></script>
</head>
<body class="sign-body">
<h1 class="sign-h1" style="cursor: pointer;font-size: 55px;" onclick="main()">Pets</h1>
<h3 class="sign-h3" >반려동물의 일상을 공유해보세요!</h3>
<div class="container" id="container">
    <div class="form-container sign-in-container">
                <form action="editPass.mem" method="post" class="sign-form passEditForm">
                    <h3 class="sign-h1" style="margin-bottom: 30px;">비밀번호 변경</h3><br>
                    <input type="hidden" name="user_id" th:value="${user_id}">
                    <input class="sign-input sign-center editPass" type="password" placeholder="변경 할 비밀번호" name="user_pass" />
                    <span style="color:red; display:none" class="error-edit-pass">대문자, 소문자, 숫자, 특수문자가 각각 하나 이상 포함</span><br>
                    <input type="button" class="sign-button sign-center" style="margin-top: 10px;" value="비밀번호 변경하기" onclick="passEditSubmit()">
                </form>

    </div>

    <div class="overlay-container">
        <img src="/mainImg/KakaoTalk_Image_2023-04-01-21-27-26.jpeg" alt="" style="
   height: 100%;">
    </div>
</div>
</body>
</html>