<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Spring Boot Application with JSP</title>
  <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <link href="/css/join.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/member.js" ></script>
</head>
<body class="sign-body">
<h1 class="sign-h1" style="cursor: pointer;font-size: 55px;" onclick="main()">Pets</h1>
<h3 class="sign-h3" >반려동물의 일상을 공유해보세요!</h3>
<div class="container" id="container">
  <div class="form-container sign-in-container">

    <form action="join.mem" method="post" style="padding: 0 50px;" class="google_joinForm" enctype="multipart/form-data">
      <div class="join-1" style="display:none;">
        <h3 class="sign-h1" style="margin-top: 40px;">회원가입</h3><br>
        <input class="sign-input join-user_id" type="text" placeholder="Id" style="width: 60%; margin-right: auto;" name="user_id" th:value="${user_id}"/>
        <input class="sign-input join-user_pass" type="password" placeholder="Password" name="user_pass"/>
        <input class="sign-input join-phone" type="text" placeholder="핸드폰 번호 입력" style="width: 60%; margin-right: auto;" name="user_phone"/>
      </div>

      <div class="join2">
        <th:block th:replace="member/join2 :: Join2"></th:block>
      </div>

      <input type="hidden" name="login_type" value="GOOGLE">
        <input class="sign-button" style="margin:auto;display:block;margin-top: 20px;" value="등록" type="button" onclick="joinSubmit('google_joinForm')">

    </form>

  </div>

  <div class="overlay-container">
    <img src="/mainImg/KakaoTalk_Image_2023-04-04-01-13-28.jpeg" alt="" style="
   height: 100%;">
  </div>
</div>
</body>
</html>