<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Join2"
      Content-Type = "multipart/form-data">

<h3 class="sign-h1" style="margin-top: 40px;">프로필</h3><br>
<div class="filebox">
    <input class="upload-name" value="" type="hidden">
    <label for="file"><img src="profile_img/basic/paw.png" class="img-file"><br></label>
    <input type="file" id="file" onchange="setThumbnail(event);" class="image" accept="image/*" name="user_name_img_file">
    <span id="span-file" style="margin-left: 10px;">프로필 사진 추가</span>
</div>
<input class="sign-input join-name" type="text" placeholder="사용자 이름" style="width: 60%; margin-right: auto;" name="user_name"/>
<input type="button" class="sign-button nameCheck" style="padding: 12px 27px;" onClick="nameCheck()" value="중복확인">

<span style="font-weight: 700;">성별</span><br>
<label><input type="radio" name="animal_gender" value="남아"><span class="span-profile"> 남아</span></label>
<label><input type="radio" name="animal_gender" value="여아"><span class="span-profile"> 여아</span></label><br>
<span style="font-weight: 700;">분류</span><br>
<label><input type="radio" name="animal_type" value="강아지"><span class="span-profile"> 강아지</span></label>
<label><input type="radio" name="animal_type" value="고양이"><span class="span-profile"> 고양이</span></label>
<label><input type="radio" name="animal_type" value="새"><span class="span-profile"> 새</span></label><br>
<label><input type="radio" name="animal_type" value="햄스터"><span class="span-profile"> 햄스터</span></label>
<label><input type="radio" name="animal_type" value="기타"><span class="span-profile"> 기타</span><br></label><br>

<span style="font-weight: 700;">생일</span><br>
<input type="date" name="animal_birth" class="date-input" ><br>
