<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Join1">

                      <form action="join.mem" method="post" style="padding: 0 50px;" enctype="multipart/form-data" class="joinForm">
                          <div class="join-1">
                      <h3 class="sign-h1" style="margin-top: 40px;">회원가입</h3><br>
                      <input class="sign-input join-user_id" type="text" placeholder="Id" style="width: 60%; margin-right: auto;" name="user_id" th:value="${user_id}"/>
                      <input type="button" class="sign-button idCheck" style="padding: 12px 27px;" onClick="idCheck()" value="중복확인">
                      <span style="color:red; display:none" class="error-join-id">대소문자, 숫자, - 기호, _ 기호가 포함된 문자열만 허용</span><br>
                      <input class="sign-input join-user_pass" type="password" placeholder="Password" name="user_pass"/>
                      <span style="color:red; display:none" class="error-join-pass">대문자, 소문자, 숫자, 특수문자가 각각 하나 이상 포함</span><br>
                      <input class="sign-input join-phone" type="text" placeholder="핸드폰 번호 입력" style="width: 60%; margin-right: auto;" name="user_phone"/>
                      <input type="button" class="sign-button sand-join" style="padding: 12px 27px;" onClick="sand('join')" value="인증번호">
                       <span style="color:red; display:none" class="error-join-phone">ex) 01011112222</span><br>
                      <input class="sign-input join-num" type="text" placeholder="인증번호 입력"/>
                      <input type="button" class="sign-button" style="margin:auto;display:block;margin-top: 30px;" onclick="signUp2()" value="등록">
                          </div>

                   <div class="join2" style="display:none">
                  <th:block th:replace="member/join2 :: Join2"></th:block>
                   </div>
                          <input type="hidden" name="login_type" value="DEFAULT">
                    <div class="join-form-submit" style="display:none">
                  <input class="sign-button" style="margin:auto;display:block;margin-top: 20px;" value="등록" type="button" onclick="joinSubmit('joinForm')">
                    </div>
                      </form>

<!--      </div>-->
<!--</body>-->
<!--</html>-->