<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring Boot Application with JSP</title>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type="text/javascript" src="/js/post.js" ></script>
    <script type="text/javascript" src="/js/comment.js" ></script>
    <link href="/css/post.css" rel="stylesheet" type="text/css">
    <link href="/css/modal.css" rel="stylesheet" type="text/css">
    <link href="/css/join.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/member.js" ></script>
</head>
<body>
         <div class="container-fluid">
                <div class="row">
                    <div class="sidebar div-col" style="left:0;">
                        <th:block th:replace="postInclude/sideContent :: SideContent"></th:block>
                    </div>

                    <div class="content-main">
                        <div class="followerList outLine" th:style="${'display:none'}">
                        <div class="modal">
                            <div class="modal_body" style="width:300px; height:400px; overflow: scroll;">
                                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button><hr>
                                <th:block th:replace="popup/followerList :: FollowerList"></th:block>
                            </div>
                        </div>
                        </div>

                        <div class="followingList outLine" th:style="${'display:none'}">
                        <div class="modal">
                            <div class="modal_body" style="width:300px; height:400px; overflow: scroll;">
                                <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button><hr>
                                <th:block th:replace="popup/followingList :: FollowingList"></th:block>
                            </div>
                        </div>
                    </div>

                        <div class="userProfileEdit outLine" th:style="${'display:none'}">
                            <div class="modal">
                                <div class="modal_body" style="width:400px; height:500px;">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="closeModal()"></button> <span>프로필 수정</span><hr>
                                    <th:block th:replace="popup/userProfileEdit :: UserProfileEdit"></th:block>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 30px;">
                            <img th:src="'/profile_img/'+${member.user_img_file}" class="profile-img">
                            <sapn class="span-side2" style="margin-right: 10px;">[[${member.user_name}]]</sapn>

                            <div th:block th:if="${check != null and myProfile == null}" style="display:inline">
                                <button th:onclick="insertFollow([[${member.user_name}]])" class ="follow profile-button" th:style="${'display:none'}">팔로우</button>
                                <button th:onclick="deleteFollow([[${member.user_name}]])" class ="following profile-button" >팔로우 취소</button>
                            </div>
                            <div th:block th:if="${check == null and myProfile == null}" style="display:inline">
                                <button th:onclick="insertFollow([[${member.user_name}]])" class ="follow profile-button">팔로우</button>
                                <button th:onclick="deleteFollow([[${member.user_name}]])" class ="following profile-button" th:style="${'display:none'}">팔로우 취소</button>
                            </div>

                            <div th:block th:if="${myProfile == 'myProfile'}" style="display:inline">
                                <button class="profile-button" onclick="userEdit('userProfileEdit')">프로필 편집</button>
                            </div>

                            <br>
                            <sapn class="span-profile">[[${member.animal_gender}]] / [[${member.animal_type}]]</sapn>
                        </div>
                        <br>
                        <div class="div-main-center">
                            <span class="span-profile">게시물 <span style="font-weight: 600;"> [[${post.size}]]</span></span>
                            <span class="span-profile" onclick="followList('followerList')" style="cursor: pointer;">팔로워 <span style="font-weight: 600;"> [[${member.user_follower}]]</span></span>
                            <span class="span-profile" onclick="followList('followingList')" style="cursor: pointer;">팔로잉 <span style="font-weight: 600;"> [[${member.user_following}]]</span></span>
                        </div>
                        <hr>


                        <br>
                        <br>
                        <th:block th:replace="postInclude/postList :: PostList"></th:block>
                    </div>

                    <div class="sidebar  div-col" style="right: 0;">
                        <div class="div-main-profile">
                            <img th:src="'/profile_img/'+${user_img_file}" class="div-img">
                            <sapn class="span-main-profile" th:onclick="passLoc([[${user_name}]])">[[${user_name}]]</sapn></div>

                    </div>
              </div>
         </div>
</body>
</html>