.postImg {
    width: 480px;
    height: 530px;
    }

.profileImg{
            width: 70px;
            height: 70px;
            border-radius: 70%;
        }
 .img_comment{
   width: 30px;
   height: 30px;
   border-radius: 60%;
   margin-right: 10px;
   float: left;

    }
    .comm{
    font-size: 12px;
    color: #212121;
    vertical-align: top;
    }
    #comment_user_id{
    font-weight: 600;
    color: #080808;
    }
    #reply_user_id{
    vertical-align: sub;
    font-weight: 600;
    color: #080808;
    }
    .re{
    color: #868686;
    }
    #re_user_id_img{
    margin-left: 30px;
    }
    #reply_content{
    vertical-align: sub;
    }

comment-view-div{
    position: relative;
      height: 600px;
      width: 300px;
      background-color: gray;
      overflow: scroll;
}

.comment-view-div-c{
   overflow-y: scroll;
   height: 55vh;
}

.comment-text{
    width: 80%;
    height: 30px;
    border: none;
    float: left;
    resize: none;
}
.comment-text:focus {
  outline: none;
}
    .sidebar , .span-side-content{
    position: fixed;
    height: 100%;
    top: 0;
    width: 25%;
    }
    .content-main{
    margin: 0 auto;
    width: 50%;
    height: auto;
    }
    .div-side{
    padding-top: 5px;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-color:rgb(255, 255, 255);
    margin: 10px;
    cursor: pointer;
    }
    .span-side{
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    }
    .span-side2{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    vertical-align: sub;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    }
    .p-main{
    font-weight: bold;
    margin: 0;
    color: #000000;
    font-size: 55px;
    margin: 15px;
    cursor: pointer;
    }
    .div-1:hover, .div-2:hover, .div-3:hover, .div-4:hover, .div-5:hover, .div-6:hover{
        background-color:rgb(240, 240, 240);
    }
    .div-img{
        width: 30px;
            margin-left: 10px;
            height: 30px;
            border-radius: 60px;
    }
    .div-col{
        border-right: 1px solid #f0ecec;
        border-left: 1px solid #f0ecec;
    }
    .span-main-profile{
    font-size: 20px;
    margin-left: 10px;
    vertical-align: sub;
    font-weight: 300;
    }
    .div-main-profile{
    margin-top: 10%;
    cursor: pointer;
    }
    .div-search-bar{
    margin-top: 15px;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border:1px solid rgb(155, 155, 155);
    overflow: hidden;
    }
    .input-search-bar{
    width: 92%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: transparent;
    padding:20px;
    }
    .input-search-bar:focus {outline:none;}
    .div-main-center{
    display: flex;
    justify-content: center;
    }
    .span-side-check{
    box-shadow: inset 0 -20px 0 #ecfac8;
    }
    .div-post-content{
    width: 450px;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 10px;
    }
    .post-img{
    width: 100%;
    }
    .post-icon{
    width: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    }
    .p-comment{
    margin-bottom: 5px;
    }
    .container{
     position: relative;
     width: 100%;
    }
 .div-media{
     margin-left: 0px;
     margin-right: 20px;
     margin-top: 5px;
     }
 .small-update{
     color: #808080;
     vertical-align: middle;
     cursor: pointer;
 }
.profile-img{
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  margin-left: 7px;
  border-radius: 60px;
}
.profile-button{
  background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    padding: 8px;
}
.profile-button:hover{
  background-color: #e4e4e4;
    border-radius: 8px;
    border: none;
    padding: 8px;
}
.span-profile{
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}
.span-profile{
color: #6e6e6e;
margin-left: 8px;
font-size: 13px;
}

.p-search{
  text-align: center;
  width: 50%;
  font-size: 25px;
  cursor: pointer;
  margin-top: 15px;
}
.p-search-post:hover , .p-search-profile:hover{
  font-size: 27px;
  font-weight: 600;
}
 .span-search-check{
    box-shadow: inset 0 -20px 0 #ecfac8;
    font-size: 27px;
    font-weight: 600;
 }
.search-main{
  height: 70px;
}
.null-p{
  margin-top: 30%;
  color: #636363;
  font-size: 23px;
  font-weight: 300;
}
.insert-post{
 width: 450px;
 height: 500px;
 overflow: hidden;
 background-color: #f1f1f1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.insert-icon{
width: 60px;
cursor: pointer;
}
.insert-img{
width: 100%;
cursor: pointer;
min-width: 450px;
}
.insert-textarea{
width: 410px;
height: 50px;
padding: 20px;
border:none;
resize: none;
outline: none;
}

.span-submit{
    float: right;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.logout{
    color: #c9c8c8;
    position: fixed;
    bottom: 10px;
}
