<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FollowerList">

<div class="profile">
    <div th:each="followerList : ${followerList}">
        <div class="" style="margin-top: 10px;">
            <div><img th:src="'/profile_img/'+${followerList.user_img_file}" class="div-img">
                <sapn th:onclick="passLoc([[${followerList.user_name}]])" style="margin-left: 10px;cursor: pointer;">[[${followerList.user_name}]]</sapn></div>
        </div>
    </div>
</div>