<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FollowingList">

<div class="profile">
    <div th:each="followingList : ${followingList}">
        <div class="" style="margin-top: 10px;">
            <div><img th:src="'/profile_img/'+${followingList.user_img_file}" class="div-img">
                <sapn th:onclick="passLoc([[${followingList.user_name}]])" style="margin-left: 10px;cursor: pointer;">[[${followingList.user_name}]]</sapn></div>
        </div>
    </div>
</div>