<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="InsertPost">


<form action="/user/insertPost" method="post" enctype="multipart/form-data" class="contentInsert">
    <div class="filebox insert-post">
        <input class="upload-name" value="" type="hidden">
        <label for="p_file"><img src="/mainImg/image-gallery.png" class="insert-icon insert-postImg"></label>
        <input type="file" id="p_file" onchange="setThumbnail_post(event);" accept="image/*" name="post_file">
    </div>
    <textarea placeholder="내용 입력..." class="insert-textarea" name="post_content"></textarea>
</form>


</html>