<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="UserPost">

<div class="container-fluid">
    <div class="row">

        <div class="col-7">
            <div class="filebox insert-post" style="height: 530px;">
                <input class="upload-name" value="" type="hidden">
                <img src="" class="insert-img insert-postImg" id="post-img" style="cursor: none;">
                <input type="hidden" name="post_num" id="id_post_num">
            </div>
        </div>

        <div class="col-5">

            <div class="comment-view-div">
                <img src="" class="img_comment" id="user_post_profileImg"> <span class="comm" id="post-name"></span> <br><br>
                <span class="comm" id="post-content"></span>
                <hr style="color: #cececc;">
                <textarea class="comment-text" placeholder="댓글 달기"></textarea>
                <a class="insert" style="cursor: pointer;">  등록</a><br>
                <hr style="color: #cececc;">

             <div class="comment-view-div-c" style="overflow: scroll;height: 380px;">
            <div class="comment_reply2" th:style="${'display:none'}">
            <div class="comment">
                <img src="" class="img_comment imgC"><span id="comment_user_name" class="comm"></span> <span id="comment_content" class="comm"></span>
                <br><span id="comment_btn"><span id="replyEx" class="comm re ch">답글 </span></span>
                <br><br>
            </div>
            <div class="reply">
                <img src="" class="img_comment imgR" id="re_user_id_img">
                <span id="reply_user_id" class="comm"></span> <span id="reply_content" class="comm"></span>
                <br><span id="reply_btn"></span>
                <br><br>
            </div>

        </div>

            <div class="comment_reply">
                <div class="comment">

                </div>
                <div class="reply">

                </div>


            </div>

             </div>
            </div>
        </div>
    </div>

</div>